<footer>
  <div class="container">
    <ul class="footer-ul">
      <%= link_to "トップ", root_path, class: "footer-link" %>
      <%= link_to "概要", about_path, class: "footer-link" %>
      <%= link_to "プライバシーポリシー", privacy_path, class: "footer-link" %>
      <%= link_to "利用規約", terms_path, class: "footer-link" %>
      <%= link_to "お問い合わせ", contact_path, class: "footer-link" %>
    </ul> 
  </div>
</footer>
